.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-bottom: 37px;
}

.advantages__list {
  @include list-transform;
}

.advantages__item {
  line-height: 18px;
  padding-left: 80px;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 60px;
    height: 60px;
    background-color: $apple;
    background-image: url("../../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-leaf@2x.png");
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.advantages__item:nth-child(2) {
  &::before {
    background-image: url("../../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-powder@2x.png");
    }
  }
}

.advantages__item:nth-child(3) {
  &::before {
    background-image: url("../../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-dining@2x.png");
    }
  }
}

.advantages__item:nth-child(4) {
  &::before {
    background-image: url("../../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    padding-top: 120px;
    padding-bottom: 48px;
    flex: 1 0 36.5%;
    margin-bottom: 89px;
    z-index: 0;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      top: 90px;
      right: 35px;
      content: "1";
      font-family: "Oswald", "Arial", sans-serif;
      font-weight: 400;
      color: #f2f2f2;
      font-size: 281px;
      height: 281px;
      z-index: -1;
    }

    &:not(:last-child) {
      margin: 0;
      margin-bottom: 89px;
    }

    &:not(:nth-child(2n)) {
      margin-right: 180px;
    }
  }

  .advantages__item:nth-child(2) {
    &::after {
      content: "2";
    }
  }

  .advantages__item:nth-child(3) {
    &::after {
      content: "3";
    }
  }

  .advantages__item:nth-child(4) {
    &::after {
      content: "4";
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    justify-content: center;
  }

  .advantages__item {
    flex: 1 0 18%;
    margin: 0;

    &::after {
      right: 13px;
    }

    &:not(:last-child) {
      margin: 0;
      margin-right: 89px;
    }
  }
}
