.cat-slider__btn {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cat-slider__range-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-slider__btn--before {
  margin-right: 20px;
}

.cat-slider__btn--after {
  margin-left: 20px;
}

.cat-slider__scale {
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
  position: relative;
}

.cat-slider__bar {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 50%;
  height: 6px;
  border-radius: 3px;
  background-color: $apple;
}

.cat-slider__control {
  display: none;
}

@media (min-width: $tablet-width) {
  .cat-slider {
    background-color: #f2f2f2;
    padding-bottom: 67px;
  }

  .cat-slider__img {
    width: 690px;
    height: 517px;
    margin-top: -180px;
  }

  .cat-slider__scale {
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    border: none;
    background-color: #dcdcdc;
  }

  .cat-slider__bar {
    display: none;
  }

  .cat-slider__control {
    display: block;
    position: absolute;
    top: -14px;
    left: 50%;
    margin-right: -17px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(#000000, 0.15);
    border: solid 1px #cdcdcd;
    background-color: #ffffff;

    &::before {
      position: absolute;
      top: 12px;
      left: 12px;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $apple;
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(#000000, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(#000000, 0.3);
      border: 2px solid $apple;

      &::before {
        top: 11px;
        left: 11px;
      }
    }
  }

  .cat-slider__btn {
    font-size: 20px;
    border-bottom: 1px dotted rgba($tundora, 0.23);

    &:hover,
    &:focus {
      border-bottom: 1px solid rgba($tundora, 0.23);
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }
}

@media (min-width: $desktop-width) {
  .cat-slider {
    flex: 1 0 50%;
  }

  .cat-slider__wrapper {
    width: auto;
    padding: 0;
  }
}
