.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  margin: 0;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 60px;
  }

  .catalog__title {
    font-size: 60px;
    margin-bottom: 74px;
  }
}
