.contact {
  padding-bottom: 400px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  &::before {
    position: absolute;
    top: 260px;
    left: 50%;
    margin-left: -27px;
    content: "";
    width: 55px;
    height: 53px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }
}

.contact__invite {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: $white;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}

.contact__invite--pages {
  background-color: $concrete;
}

.contact__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $cod-gray;
  text-transform: uppercase;
  margin: 0;
  max-width: 154px;
}

.contact__address {
  line-height: 20px;
  font-style: normal;
  max-width: 154px;
}

.contact__map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (min-width: $tablet-width) {
  .contact {
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }

    &::before {
      top: 295px;
      width: 113px;
      height: 106px;
      margin-left: -56px;
    }
  }

  .contact__title {
    font-size: 20px;
    line-height: 25px;
  }

  .contact__invite {
    padding-left: 72px;
    padding-bottom: 58px;
    padding-right: 71px;
    padding-top: 62px;
    margin-right: -30px;
    margin-left: -30px;
  }

  .contact__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    max-width: 157px;

    span {
      display: block;
      padding-bottom: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contact {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }

    &::before {
      top: 98px;
    }
  }

  .contact__invite {
    background-color: $white;
    position: absolute;
    top: 98px;
    max-width: 570px;
    padding-left: 76px;
    padding-right: 90px;
    margin-right: 0;
    margin-left: 0;
    justify-content: initial;
  }

  .contact__invite--pages {
    background-color: $white;
  }

  .contact__title {
    margin-right: 92px;
    max-width: 160px;
  }

  .contact__address {
    text-align: left;
  }
}
