.contact {
  background-color: $white;
}

.contact--pages {
  background-color: $concrete;
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 18px;
}

.contact__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $cod-gray;
  text-transform: uppercase;
  margin: 0;
  max-width: 154px;
}

.contact__address {
  line-height: 20px;
  font-style: normal;
  max-width: 154px;
}

.contact__map {
  padding-bottom: 400px;
  background-color: $concrete;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  &::before {
    position: absolute;
    top: 170px;
    left: 50%;
    margin-left: -27px;
    content: "";
    width: 55px;
    height: 53px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .contact__title {
    font-size: 20px;
    line-height: 25px;
  }

  .contact__wrapper {
    padding-left: 72px;
    padding-bottom: 59px;
  }

  .contact__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    max-width: 157px;
  }

  .contact__map {
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }

    &::before {
      width: 113px;
      height: 106px;
      margin-left: -56px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contact {
    position: relative;
  }

  .contact__wrapper {
    background-color: $white;
    position: absolute;
    top: 135px;
    left: 40px;
    max-width: 570px;
    padding-left: 76px;
    padding-right: 90px;
  }

  .contact__map {
    position: static;
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }

    &::before {
      top: 150px;
      left: 75%;
    }
  }
}
