.contact--main {
  background-color: #ffffff;
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
}

.contact__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  max-width: 154px;
}

.contact__address {
  line-height: 20px;
  font-style: normal;
  max-width: 154px;
}

@media (min-width: $tablet-width) {
  .contact__title {
    font-size: 20px;
    line-height: 25px;
  }

  .contact__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    max-width: 157px;
  }
}

@media (min-width: $desktop-width) {
  .contact__wrapper {
    display: none;
  }
}
