.demo-effect {
  background-color: $concrete;
  padding-top: 16px;
  padding-bottom: 38px;
}

.demo-effect__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $cod-gray;
  margin: 0;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .demo-effect {
    background-color: $white;
    padding-top: 10px;
    padding-bottom: 0;
  }

  .demo-effect__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .demo-effect {
    background-color: $concrete;
    padding-top: 0;
    padding-bottom: 74px;
  }

  .demo-effect__title-wrapper {
    background-color: $white;
    padding-top: 33px;
    padding-bottom: 75px;
  }

  .demo-effect__title {
    margin: 0;
  }

  .demo-effect__wrapper {
    display: flex;
    width: $desktop-width;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 72px;
    margin: 0 auto;
  }
}
