.extra-catalog {
  padding-top: 31px;
  padding-bottom: 39px;
}

.extra-catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  margin: 0;
  margin-bottom: 30px;
  position: relative;

  &::after {
    position: absolute;
    top: 15px;
    margin-left: 24px;
    content: "";
    width: 100vw;
    height: 3px;
    background-color: $apple;
  }
}

@media (min-width: $tablet-width) {
  .extra-catalog__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 75px;

    &::after {
      top: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .extra-catalog {
    padding: 0;
    flex-basis: 73.5%;
  }
}
