.extra-catalog {
  padding-top: 31px;
  padding-bottom: 39px;
}

.extra-catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  margin: 0;
  margin-bottom: 30px;
  position: relative;
  background-color: #ffffff;
  max-width: 250px;

  &::after {
    position: absolute;
    top: 15px;
    left: 0;
    content: "";
    width: 100vw;
    height: 3px;
    background-color: $apple;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .extra-catalog__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 75px;
    max-width: 370px;

    &::after {
      top: 20px;
    }

    &::before {
      position: absolute;
      top: 20px;
      right: 0;
      content: "";
      width: 100vw;
      height: 3px;
      background-color: $apple;
      z-index: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .extra-catalog {
    padding: 0;
    flex-basis: 73.5%;
  }
}
