.features {
  padding-bottom: 17px;
}

.features__list {
  @include list-transform;
}

.features__item {
  background-color: #f2f2f2;
  padding: 30px 20px 20px 20px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    position: absolute;
    top: 25px;
    left: 22px;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: $apple;
  }

  &::after {
    position: absolute;
    top: 23px;
    left: 30px;
    content: "";
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }
}

.features__item--pro::after {
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
}

.features__box {
  border-bottom: 1px solid rgba($tundora, 0.1);
  padding-bottom: 21px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.features__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;
}

.features__text {
  line-height: 18px;
  margin: 0;
}

.features__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  position: relative;

  &::before {
    position: absolute;
    top: 7px;
    right: -37px;
    content: "";
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::before {
    right: -40px;
    width: 34px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding-bottom: 44px;
  }

  .features__item {
    padding: 73px 0 59px 54px;

    &::before {
      top: 90px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 200px;
    }

    &::after {
      top: 78px;
      left: auto;
      right: 89px;
      width: 141px;
      height: 194px;
    }

    &:not(:last-child) {
      margin-bottom: 33px;
    }
  }

  .features__item--pro::after {
    top: 132px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 113px;
  }

  .features__box {
    border: none;
    padding-right: 280px;
    padding-bottom: 0;
    margin-bottom: 56px;
  }

  .features__item--pro .features__box {
    padding-right: 310px;
  }

  .features__title {
    font-size: 36px;
    line-height: 37px;
    padding: 0;
    margin-bottom: 26px;
  }

  .features__text {
    font-size: 16px;
    line-height: 24px;
  }

  .features__link {
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: 9px;
      right: -47px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-bottom: 74px;
  }

  .features__list {
    display: flex;
  }

  .features__item {
    margin-bottom: 0;
    max-width: 570px;
    padding: 77px 0 59px 54px;

    &:not(:last-child) {
      margin-right: 80px;
      margin-bottom: 0;
    }

    &::before {
      top: 47px;
      left: 52px;
      right: auto;
      width: 100px;
      height: 100px;
    }

    &::after {
      top: 41px;
      left: 65px;
      right: auto;
      width: 71px;
      height: 97px;
    }
  }

  .features__item--pro::after {
    top: 69px;
    left: 34px;
    right: auto;
    width: 134px;
    height: 57px;
  }

  .features__box {
    padding-right: 21px;
    margin-bottom: 30px;
  }

  .features__item--pro .features__box {
    padding-right: 21px;
  }

  .features__title {
    padding-left: 160px;
    margin-bottom: 75px;
  }
}
