.features {
  padding-top: 22px;
  padding-bottom: 32px;
}

.features__list {
  @include list-transform;
}

.features__item {
  background-color: #f2f2f2;
  padding: 22px 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.features__box {
  border-bottom: 1px solid rgba($tundora, 0.1);
  padding-bottom: 23px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.features__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 36px;
}

.features__text {
  line-height: 18px;
  margin: 0;
}

.features__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .features__item {
    padding: 81px 0 62px 52px;
  }

  .features__box {
    border: none;
    padding-right: 285px;
    padding-bottom: 0;
    margin-bottom: 61px;
  }

  .features__title {
    font-size: 36px;
    line-height: 37px;
  }

  .features__text {
    font-size: 16px;
    line-height: 24px;
  }

  .features__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    display: flex;
  }

  .features__item {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 80px;
      margin-bottom: 0;
    }
  }

  .features__box {
    padding-right: 0;
    margin-bottom: 36px;
  }

  .features__title {
    text-align: center;
    margin-bottom: 75px;
  }
}
