.footer {
  background-color: $concrete;
  padding-bottom: 14px;
}

.footer__wrapper {
  padding-top: 40px;
}

.footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 29px;
}

.footer__logo:hover,
.footer__logo:focus {
  opacity: 0.8;
}

.footer__logo:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .footer {
    padding-bottom: 0;
  }

  .footer__wrapper {
    display: flex;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 47px;
  }

  .footer__logo {
    margin-bottom: 0;
    margin-right: 157px;
  }
}

@media (min-width: $desktop-width) {
  .footer__logo {
    margin-right: 412px;
  }
}
