.menu {
  @include list-transform;
  display: flex;
  flex-direction: column;
}

.menu__link {
  @include link-block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  padding-top: 24px;
  padding-bottom: 21px;
  width: 100%;
}
