.offer {
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
  background-color: $apple;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 22px;
}

.offer__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 19px;
}

.offer__text {
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 300px;
}

.offer__link {
  @include element-block;
  color: inherit;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: $apple;
  padding: 14px 74px 11px 74px;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}
