.products {
  @include list-transform;
  border-top: 1px solid rgba($tundora, 0.1);
  margin: 0 -20px;
}

.products__item {
  padding: 25px 20px;
  border-bottom: 1px solid rgba($tundora, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__box {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}

.products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 18px;
  padding-right: 45px;
}

.products__link {
  @include element-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: $apple;
  padding: 13px 0;
  width: 100%;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

.products__item--show-product {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;
}

.products__link--btn {
  border: none;
  cursor: pointer;
  color: $tundora;
  background-color: #f2f2f2;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba($tundora, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .products {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .products__item {
    border: none;
    background-color: #f2f2f2;
    flex-basis: 45.7%;
    margin-bottom: 60px;
    padding: 160px 20px 40px 20px;


    &:not(:nth-child(2n)) {
      margin-right: 60px;
    }
  }

  .products__box {
    flex-direction: column;
  }

  .products__image {
    margin-bottom: 39px;
  }

  .products__wrap {
    width: 100%;
  }

  .products__title {
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin-right: 28px;
  }

  .products__link {
    padding: 13px 95px;
    width: auto;
  }

  .products__item--show-product {
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
  }

  .products__text {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 85px;
  }
}

@media (min-width: $desktop-width) {
  .products__item {
    flex-basis: auto;
    max-width: 245px;
    margin-right: 0;

    &:not(:nth-child(2n)) {
      margin-right: 0;
    }

    &:not(:nth-child(4n)) {
      margin-right: 80px;
    }
  }

  .products__link {
    padding: 13px 55px;
  }
}
