.products {
  @include list-transform;
  border-top: 1px solid rgba($tundora, 0.1);
  margin: 0 -20px;
}

.products__item {
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid rgba($tundora, 0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.products__box {
  width: 50%;
}

.products__image-wrap {
  min-width: 140px;
}

.products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $cod-gray;
  margin: 0;
  margin-bottom: 13px;
  padding-right: 45px;
}

.products__link {
  @include element-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: $apple;
  padding-top: 10px;
  padding-bottom: 11px;
  width: 100%;

  &:hover,
  &:focus {
    background-color: $apple-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $apple-hover;
  }
}

.products__item--show-product {
  order: 1;
  padding-top: 25px;

  .products__title {
    padding-right: 0;
    margin-bottom: 7px;
  }
}

.products__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.products__icon {
  opacity: 0.2;
  margin-bottom: 25px;
}

.products__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;
}

.products__link--btn {
  @include btn;
  color: $tundora;
  background-color: $concrete;
  padding-left: 0;
  padding-right: 0;

  &:hover,
  &:focus {
    background-color: $gallery-hover;
  }

  &:active {
    background-color: $gallery-hover;
    color: rgba($tundora, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .products {
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .products__item {
    display: block;
    border: none;
    background: linear-gradient(180deg, $white 10%, $concrete 10%);
    width: 324px;
    margin-bottom: 93px;
    padding: 0 0 37px 0;


    &:not(:nth-child(2n)) {
      margin-right: 60px;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  .products__box {
    width: auto;
    margin-bottom: 28px;
  }

  .products__image {
    margin-bottom: 33px;
    width: 324px;
    height: 172px;

    &--big {
      height: 208px;
      margin-top: -35px;
    }
  }

  .products__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .products__title {
    font-size: 20px;
    text-align: center;
    padding: 0;
    max-width: 130px;
    margin-bottom: 17px;
  }

  .products__link {
    padding: 13px 95px;
    max-width: 249px;
    margin-left: 36px;
  }

  .products__item--show-product {
    background: transparent;
    padding: 0;
    padding-top: 50px;

    .products__title {
      max-width: 134px;
      margin-bottom: 28px;
    }
  }

  .products__content {
    width: auto;
    border: 1px solid $silver;
    padding: 55px 37px 40px 37px;
  }

  .products__icon {
    margin-bottom: 47px;
    width: 61px;
    height: 61px;
  }

  .products__text {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 85px;
    max-width: 167px;
  }

  .products__link--btn {
    padding: 13px 78px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .products__item {
    flex-basis: auto;
    width: 245px;
    margin-right: 0;

    &:not(:nth-child(2n)) {
      margin-right: 0;
    }

    &:not(:nth-child(4n)) {
      margin-right: 80px;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }

  .products__image {
    width: 245px;
  }

  .products__link {
    padding: 13px 55px;
    max-width: 169px;
  }

  .products__link--btn {
    padding: 13px 39px;
  }
}
