.program-select {
  font-family: "Oswald", "Arial", sans-serif;
  padding-top: 15px;
  padding-bottom: 34px;
}

.program-select__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $cod-gray;
  margin: 0;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .program-select {
    padding-top: 53px;
    padding-bottom: 78px;
  }

  .program-select__title {
    font-size: 60px;
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .program-select {
    padding-top: 69px;
    padding-bottom: 83px;
  }

  .program-select__title {
    margin-bottom: 55px;
  }
}
