.program {
  @include list-transform;
  border-top: 1px solid $gallery;
  border-bottom: 1px solid $gallery;
  padding: 26px 20px;
  margin-bottom: 18px;
  margin-right: -20px;
  margin-left: -20px;
}

.program__item:not(:last-child) {
  margin-bottom: 25px;
}

.program__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $mine-shaft;
  padding-left: 46px;
  display: block;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.program__radio + .program__label::before {
  position: absolute;
  top: -5px;
  left: 0;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px $silver;
}

.program__radio:checked + .program__label::after {
  position: absolute;
  top: 4px;
  left: 9px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $apple;
}

.program__radio:hover + .program__label::before,
.program__radio:focus + .program__label::before {
  border: solid 1px $dark-silver;
}

.program__radio:focus + .program__label::before {
  box-shadow: 0 0 0 2px $anakiwa;
}

.program__radio:active + .program__label {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .program {
    border: 1px solid $gallery;
    padding: 35px 27px 33px;
    margin-bottom: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .program__item:not(:last-child) {
    margin-bottom: 33px;
  }

  .program__label {
    font-size: 20px;
    line-height: 20px;
    padding-left: 60px;
  }

  .program__radio + .program__label::before {
    width: 40px;
    height: 40px;
    top: -10px;
  }

  .program__radio:checked + .program__label::after {
    top: 1px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    margin-bottom: 0;
  }
}
