.program-select {
  font-family: "Oswald", "Arial", sans-serif;
  padding-top: 30px;
  padding-bottom: 34px;
}

.program-select__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-bottom: 35px;
}

.program-select__text {
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 39px;
}
