.program-select {
  font-family: "Oswald", "Arial", sans-serif;
  padding-top: 30px;
  padding-bottom: 34px;
}

.program-select__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .program-select__title {
    font-size: 60px;
    margin-bottom: 53px;
  }
}
