.program {
  @include list-transform;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-top: 26px;
  padding-bottom: 16px;
  margin-bottom: 18px;
}

.program__item:not(:last-child) {
  margin-bottom: 11px;
}

.program__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  padding-left: 46px;
  padding-bottom: 13px;
  display: block;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.program__radio + .program__label::before {
  position: absolute;
  top: -5px;
  left: 0;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px #cdcdcd;
}

.program__radio:checked + .program__label::after {
  position: absolute;
  top: 4px;
  left: 9px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $apple;
}

.program__radio:hover + .program__label::before,
.program__radio:focus + .program__label::before {
  border: solid 1px #bababa;
}

.program__radio:focus + .program__label::before {
  box-shadow: 0 0 5px 5px #a6c7fe;
}

.program__radio:active + .program__label {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .program {
    border: 1px solid #ededed;
    padding: 42px 28px 22px;
    margin-bottom: 32px;
  }

  .program__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .program__label {
    font-size: 20px;
    line-height: 20px;
    padding-left: 60px;
  }

  .program__radio + .program__label::before {
    width: 40px;
    height: 40px;
  }

  .program__radio:checked + .program__label::after {
    top: 6px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    padding: 34px 26px 22px;
    margin-bottom: 0;
  }
}
