.request__heading {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $cod-gray;
  max-width: 226px;
  margin: 0;
  margin-bottom: 38px;
}

.request__item {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.request__item--contact {
  margin-bottom: 15px;
}

.request__item--comment {
  margin-bottom: 25px;
}

.request__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $cod-gray;
  margin-bottom: 34px;
  z-index: 0;
  position: relative;
  padding: 0;

  span {
    display: block;
    background-color: $white;
    padding-right: 20px;
  }

  &::after {
    position: absolute;
    top: 15px;
    left: 3px;
    content: "";
    width: 100vw;
    height: 3px;
    background-color: $apple;
    z-index: -1;
  }
}

.request__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $mine-shaft;
  margin-bottom: 14px;

  span {
    margin-right: 14px;
  }
}

.request__label--contact {
  position: relative;

  span {
    margin-right: 10px;
  }
}

.request__icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.request__icon--phone {
  top: 13px;
  right: 13px;
}

.request__field {
  border: 1px solid rgba($silver, 0.5);
  padding: 14px;
  height: 45px;
  flex-grow: 1;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $tundora;
  outline: none;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $tundora;
    opacity: 1;
  }

  &:hover {
    border: 1px solid $silver;
  }

  &:focus {
    border: 1px solid $tundora;
    box-shadow: 0 0 0 1px $tundora;
  }
}

.request__field:focus ~ .request__icon {
  fill: $apple;
}

.request__field--error {
  border: 1px solid $vivid-tangerine;
  box-shadow: 0 0 0 1px $vivid-tangerine;
}

.request__field--error ~ .request__icon {
  fill: $vivid-tangerine;
}

.request__field--age {
  width: 170px;
}

.request__label--contact .request__field {
  padding-right: 45px;
}

.request__comment {
  resize: none;
  border: 1px solid rgba($silver, 0.5);
  padding: 13px;
  width: 100%;
  height: 150px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $tundora;
  outline: none;
  overflow: auto;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $tundora;
    opacity: 1;
  }

  &:hover {
    border: 1px solid $silver;
  }

  &:focus {
    border: 1px solid $tundora;
    box-shadow: 0 0 0 1px $tundora;
  }
}

.request__btn {
  @include btn;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $apple;
  padding: 12px 78px 11px;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    background-color: $apple-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $apple-hover;
  }
}

.request__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
}

@media (max-width: $mobile-width-only) {
  .request__title span {
    max-width: 210px;
  }
}

@media (min-width: $tablet-width) {
  .request {
    padding: 0 40px;
  }

  .request__heading {
    font-size: 20px;
    line-height: 30px;
    max-width: 325px;
    margin-bottom: 66px;
  }

  .request__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 78px;

    span {
      padding: 0 38px;
      margin-left: -40px;
    }

    &::after {
      top: 20px;
      left: auto;
      right: -30px;
    }

    &::before {
      position: absolute;
      top: 20px;
      left: -30px;
      content: "";
      width: 100vw;
      height: 3px;
      background-color: $apple;
      z-index: -1;
    }
  }

  .request__item {
    margin-bottom: 50px;
  }

  .request__item--contact {
    margin-bottom: 44px;
  }

  .request__item--product .request__title {
    margin-bottom: 67px;
  }

  .request__label {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .request__label--contact span {
    margin-right: 20px;
  }

  .request__field {
    height: 52px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .request__icon {
    top: 20px;
    right: 20px;
  }

  .request__icon--phone {
    top: 17px;
    right: 17px;
  }

  .request__item--comment {
    margin-bottom: 58px;
  }

  .request__comment {
    min-height: 174px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 18px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .request__label--contact .request__field {
    padding-right: 50px;
  }

  .request__wrap {
    display: flex;
    align-items: center;
  }

  .request__btn {
    margin-bottom: 0;
    font-size: 20px;
    padding: 17px 0 15px 0;
    flex-basis: 44.5%;
    margin-right: 66px;
  }

  .request__text {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .request {
    padding: 0;
  }

  .request__item {
    margin-bottom: 50px;

    &--contact {
      margin-bottom: 44px;
    }

    &--comment {
      margin-bottom: 60px;
    }

    &--product {
      margin-bottom: 20px;
    }
  }

  .request__box {
    display: flex;
    justify-content: space-between;
  }

  .request__box .request__item {
    width: 570px;
  }

  .request__box .request__label {
    width: 570px;
  }

  .request__btn {
    margin-right: 81px;
    flex-basis: auto;
    width: 570px;
  }

  .request__title::after {
    right: -40px;
  }

  .request__title::before {
    left: -40px;
  }
}
