.request__heading {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  max-width: 226px;
  margin: 0;
  margin-bottom: 38px;
}

.request__item {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.request__item--comment {
  margin-bottom: 28px;
}

.request__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 33px;
}

.request__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 14px;

  span {
    margin-right: 14px;
  }
}

.request__label--contact {
  position: relative;
}

.request__icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.request__icon--phone {
  top: 13px;
  right: 13px;
}

.request__field {
  border: 1px solid rgba(#cdcdcd, 0.5);
  padding-left: 14px;
  padding-right: 10px;
  padding-top: 6px;
  height: 45px;
  flex-grow: 1;

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $tundora;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid $tundora;
  }
}

.request__field:focus ~ .request__icon {
  fill: $apple;
}

.request__field--error {
  border: 2px solid #ff8282;
}

.request__field--error ~ .request__icon {
  fill: #ff8282;
}

.request__field--age {
  width: 170px;
}

.request__comment {
  resize: none;
  border: 1px solid rgba(#cdcdcd, 0.5);
  padding: 15px;
  width: 100%;

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $tundora;
  }
}

.request__btn {
  border: none;
  cursor: pointer;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $apple;
  padding: 13px 77px 11px 77px;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

.request__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .request {
    padding: 0 40px;
  }

  .request__heading {
    font-size: 20px;
    line-height: 30px;
    max-width: 325px;
    margin-bottom: 66px;
  }

  .request__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 78px;
  }

  .request__item {
    margin-bottom: 43px;
  }

  .request__item--product .request__title {
    margin-bottom: 67px;
  }

  .request__label {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .request__field {
    height: 52px;
    padding-left: 23px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .request__icon {
    top: 20px;
    right: 20px;
  }

  .request__icon--phone {
    top: 17px;
    right: 17px;
  }

  .request__item--comment {
    margin-bottom: 58px;
  }

  .request__comment {
    min-height: 174px;
  }

  .request__comment::placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .request__wrap {
    display: flex;
    align-items: center;
  }

  .request__btn {
    margin-bottom: 0;
    font-size: 20px;
    padding: 17px 0 15px 0;
    flex-basis: 44.5%;
    margin-right: 66px;
  }

  .request__text {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .request {
    padding: 0;
  }

  .request__item {
    margin-bottom: 50px;

    &--product {
      margin-bottom: 63px;
    }
  }

  .request__box {
    display: flex;
    justify-content: space-between;
  }

  .request__box .request__item {
    flex-basis: 46.7%;
  }

  .request__box .request__label {
    flex-basis: 46.7%;
  }

  .request__btn {
    margin-right: 81px;
  }
}
