.request__item {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.request__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 30px;
}

.request__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 14px;

  span {
    margin-right: 16px;
  }
}

.request__field {
  border: 1px solid rgba(#cdcdcd, 0.5);
  padding-left: 16px;
  padding-right: 10px;
  height: 45px;
  flex-grow: 1;

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $tundora;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid $tundora;
  }
}

.request__comment {
  resize: none;
  border: 1px solid rgba(#cdcdcd, 0.5);
  padding: 15px;
  width: 100%;

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $tundora;
  }
}

.request__btn {
  border: none;
  cursor: pointer;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $apple;
  padding: 13px 77px 11px 77px;
  margin-bottom: 23px;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

.request__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .request {
    padding: 0 36px;
  }

  .request__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 70px;
  }

  .request__item {
    margin-bottom: 20px;
  }

  .request__label {
    font-size: 20px;
    line-height: 20px;
  }

  .request__field {
    height: 52px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .request__comment::placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .request__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
