.results {
  margin-bottom: 34px;
}

.results__intro {
  line-height: 18px;
  margin: 0;
  margin-bottom: 25px;
  padding-right: 14px;
}

.results__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}

.results__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $silver;
  border-radius: 4px;
  padding-top: 13px;
  width: 124px;
}

.results__item {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $concrete;
  margin: 0;
  width: 77px;
  margin-bottom: -16px;
  padding-right: 5px;
  padding-left: 5px;
}

.results__item--value {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: $cod-gray;
  margin-bottom: 9px;
  width: auto;
}

.results__total {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $cod-gray;
  text-align: center;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .results {
    margin-bottom: 0;
  }

  .results__intro {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .results__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }

  .results__list {
    margin-bottom: 0;
    justify-content: start;
  }

  .results__box {
    width: 162px;

    &:not(:nth-child(2n)) {
      margin-right: 39px;
    }
  }

  .results__item {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: -6px;
    background-color: $white;
    width: auto;
  }

  .results__item--value {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }

  .results__total {
    margin-left: auto;
    max-width: 175px;
    text-align: right;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .results {
    padding-bottom: 0;
    margin-bottom: 0;
    order: 3;
    width: 570px;
    margin-top: -322px;
  }

  .results__intro {
    margin-bottom: 68px;
    padding-right: 135px;
  }

  .results__wrapper {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 0;
  }

  .results__list {
    margin-bottom: 61px;
  }

  //.results__box {
  //  flex-basis: auto;
  //  padding-right: 10px;
  //  padding-left: 10px;
  //}

  .results__item {
    background-color: $concrete;
  }

  .results__total {
    margin-left: 0;
    text-align: left;
    max-width: 100%;

    span {
      margin-left: 60px;
    }
  }
}
