.social {
  @include list-transform;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba($tundora, 0.1);
  border-bottom: 1px solid rgba($tundora, 0.1);
  padding-top: 26px;
  padding-bottom: 24px;
}

.social__item:not(:last-child) {
  margin-right: 36px;
}

.social__icon {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    padding: 0;
  }
}
