.spec-list {
  padding: 0;
  margin: 0;
}

.spec-list__item {
  display: flex;
  justify-content: space-between;
}

.spec-list__text {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .spec-list {
    margin-left: 0;
    width: 250px;
  }

  .spec-list__item {
    border-bottom: 1px solid rgba($tundora, 0.1);
    padding: 8px 0;
  }

  .spec-list__text {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .spec-list {
    width: 169px;
  }
}
