.special-offer {
  background-color: $apple;
  padding: 39px 20px 35px 20px;
}

.special-offer__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

@media (min-width: $desktop-width) {
  .special-offer {
    flex-basis: 20%;
  }
}
