$tundora: #444444;
$dove-gray: #666666;
$apple: #68b738;
$dark-apple: #64a83b;
$apple-hover: #5eaa2f;
$concrete: #f2f2f2;
$white: #ffffff;
$silver: #cdcdcd;
$dark-silver: #bababa;
$alto: #dcdcdc;
$gallery: #ededed;
$gallery-hover: #ebebeb;
$cod-gray: #111111;
$black: #000000;
$mine-shaft: #222222;
$vivid-tangerine: #ff8282;
$anakiwa: #a6c7fe;

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;

$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
